@import 'variables'

#filter
  background-color: $offwhite
  width: 435px

  .inside
    padding: 20px 0
    max-width: 60%
    margin: 0 10% 0 auto

    h4
      margin: 0 0 25px 0
      text-transform: uppercase
      font-weight: 500
      font-size: .8rem

    select
      background: transparent
      font-size: .8rem
      font-weight: 500
      color: $gray
      display: block
      margin-bottom: 25px
      width: 100%
      outline: none

    .sliders
      .title
        font-size: .8rem
        display: block
        margin-bottom: 1rem
        color: $gray

      input[type='text']
        display: inline-block
        width: 42%
        margin-right: 2.5%
        margin-bottom: 1rem
        padding: .4rem
        border-radius: 5px
        border-style: none
        font-size: .9rem
        color: $gray
        outline: none

      &.price
        margin-top: 45px

      &.radius
        margin-bottom: 45px

    .amenities
      h5
        color: $gray
        margin: 0
        font-weight: 500

      label
        display: block
        width: 100%
        padding: 15px 0
        border-bottom: 1px solid lighten($gray, 15%)
        font-size: .8rem
        color: #666

        input[type='checkbox']
          float: right



#listings
