header {
  background-color: #0C002B;
  color: #FFFEFF;
  overflow: auto;
  padding: 20px 0; }
  header .nav-wrapper {
    margin: 0 auto;
    width: 80%; }
    header .nav-wrapper .logo {
      float: left; }
    header .nav-wrapper nav {
      float: right; }
      header .nav-wrapper nav a {
        color: #FFFEFF;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 500;
        font-size: .9rem;
        letter-spacing: .6px; }
        header .nav-wrapper nav a:hover {
          color: #F5678D; }
        header .nav-wrapper nav a:not(.register-button) {
          margin-right: 45px; }
        header .nav-wrapper nav a.register-button {
          background: #F5678D;
          background: -webkit-linear-gradient(#FF7E85, #F5678D);
          background: -o-linear-gradient(#FF7E85, #F5678D);
          background: -moz-linear-gradient(#FF7E85, #F5678D);
          background: linear-gradient(#FF7E85, #F5678D);
          padding: 10px 30px;
          text-align: center;
          color: #FFFEFF;
          border-radius: 5px; }

#filter {
  display: inline-block;
  float: left;
  background-color: #FAF7F5;
  width: 30%;
  border-right: 1px solid #ebeaea; }
  #filter .inside {
    padding: 20px 0;
    max-width: 60%;
    margin: 0 10% 0 auto; }
    #filter .inside h4 {
      margin: 0 0 25px 0;
      text-transform: uppercase;
      font-weight: 500;
      font-size: .8rem; }
    #filter .inside select {
      background: transparent;
      font-size: .8rem;
      font-weight: 500;
      color: #ADA8AA;
      display: block;
      margin-bottom: 25px;
      width: 100%;
      outline: none; }
    #filter .inside .sliders .title {
      font-size: .8rem;
      display: block;
      margin-bottom: 1rem;
      color: #ADA8AA; }
    #filter .inside .sliders input[type='text'] {
      display: inline-block;
      width: 40%;
      margin-right: 2.5%;
      margin-bottom: 1rem;
      padding: .4rem;
      border-radius: 5px;
      border-style: none;
      font-size: .9rem;
      color: #ADA8AA;
      outline: none; }
    #filter .inside .sliders.price {
      margin-top: 45px; }
    #filter .inside .sliders.radius {
      margin-bottom: 45px; }
    #filter .inside .amenities h5 {
      color: #ADA8AA;
      margin: 0;
      font-weight: 500; }
    #filter .inside .amenities label {
      display: block;
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid #d2cfd0;
      font-size: .8rem;
      color: #666; }
      #filter .inside .amenities label input[type='checkbox'] {
        float: right; }

#listings {
  display: inline-block;
  float: left;
  width: 69.8%; }
  #listings .inside {
    width: 90%;
    margin: 20px auto 0 auto; }
    #listings .inside .search-wrapper input[type='text'] {
      width: 100%;
      outline: none;
      display: block;
      background: transparent;
      height: 50px;
      border: none;
      border-bottom: 1px solid #ebeaea;
      font-size: 1.8rem;
      font-weight: 300; }
    #listings .inside .search-wrapper .results-wrapper {
      margin: 25px 0;
      display: flex;
      justify-content: space-between; }
      #listings .inside .search-wrapper .results-wrapper small {
        color: #d2cfd0;
        font-size: .8rem; }
      #listings .inside .search-wrapper .results-wrapper .sort-options {
        width: 28%;
        display: flex;
        justify-content: space-between; }
        #listings .inside .search-wrapper .results-wrapper .sort-options select {
          background: transparent;
          font-size: .8rem;
          font-weight: 500;
          color: #ADA8AA;
          outline: none;
          border-color: #ebeaea; }
        #listings .inside .search-wrapper .results-wrapper .sort-options i.fa {
          color: #ADA8AA; }
