header {
  background-color: #0C002B;
  color: #FFFEFF;
  overflow: auto;
  padding: 20px 0; }
  header .nav-wrapper {
    margin: 0 auto;
    width: 80%; }
    header .nav-wrapper .logo {
      float: left; }
    header .nav-wrapper nav {
      float: right; }
      header .nav-wrapper nav a {
        color: #FFFEFF;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 500;
        font-size: .9rem;
        letter-spacing: .6px; }
        header .nav-wrapper nav a:hover {
          color: #F5678D; }
        header .nav-wrapper nav a:not(.register-button) {
          margin-right: 45px; }
        header .nav-wrapper nav a.register-button {
          background: #F5678D;
          background: -webkit-linear-gradient(#FF7E85, #F5678D);
          background: -o-linear-gradient(#FF7E85, #F5678D);
          background: -moz-linear-gradient(#FF7E85, #F5678D);
          background: linear-gradient(#FF7E85, #F5678D);
          padding: 10px 30px;
          text-align: center;
          color: #FFFEFF;
          border-radius: 5px; }

#content-area {
  height: 1050px; }

#filter {
  display: inline-block;
  float: left;
  background-color: #FAF7F5;
  width: 30%;
  border-right: 1px solid #ebeaea;
  height: 100%; }
  #filter .inside {
    padding: 20px 0;
    max-width: 60%;
    margin: 0 10% 0 auto; }
    #filter .inside h4 {
      margin: 0 0 25px 0;
      text-transform: uppercase;
      font-weight: 500;
      font-size: .8rem; }
    #filter .inside select {
      background: url(../images/chevron-down.png) no-repeat 95% center;
      background-size: 12px;
      font-size: .75rem;
      font-weight: 500;
      color: #ADA8AA;
      display: block;
      margin-bottom: 25px;
      padding: 8px;
      width: 100%;
      outline: none;
      border: 0.01px solid #dedddd;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none; }
    #filter .inside .sliders .title {
      font-size: .8rem;
      display: block;
      margin-bottom: 1rem;
      color: #ADA8AA; }
    #filter .inside .sliders input[type='text'] {
      display: inline-block;
      width: 40%;
      margin-right: 2.5%;
      margin-bottom: 1rem;
      padding: .4rem;
      border-radius: 5px;
      border-style: none;
      font-size: .9rem;
      color: #ADA8AA;
      outline: none; }
    #filter .inside .sliders.price {
      margin-top: 45px; }
    #filter .inside .sliders.radius {
      margin-bottom: 45px; }
    #filter .inside .amenities .title {
      font-size: .8rem;
      display: block;
      margin-bottom: 1rem;
      color: #ADA8AA; }
    #filter .inside .amenities .amen-checkbox {
      width: 100%;
      margin: 10px auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dedddd;
      padding-bottom: 10px;
      color: #555; }
      #filter .inside .amenities .amen-checkbox span {
        font-size: .8rem;
        line-height: 16px; }
      #filter .inside .amenities .amen-checkbox label {
        cursor: pointer;
        position: relative;
        width: 18px;
        right: 0;
        background: transparent;
        border: 1px solid #ADA8AA;
        border-radius: 2px; }
        #filter .inside .amenities .amen-checkbox label:after {
          opacity: 0.2;
          content: '';
          position: absolute;
          width: 8px;
          height: 5px;
          background: transparent;
          top: 4px;
          left: 4px;
          border: 2px solid transparent;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg); }
        #filter .inside .amenities .amen-checkbox label:hover::after {
          opacity: .5; }
      #filter .inside .amenities .amen-checkbox input[type='checkbox'] {
        visibility: hidden; }
        #filter .inside .amenities .amen-checkbox input[type='checkbox']:checked + label:after {
          border: 2px solid #FFFEFF;
          border-top: none;
          border-right: none;
          opacity: 1; }
        #filter .inside .amenities .amen-checkbox input[type='checkbox']:checked + label {
          background: #F5678D;
          border: none; }

#listings {
  display: inline-block;
  float: left;
  width: 69.8%;
  height: 100%; }
  #listings .inside {
    width: 80%;
    margin: 20px auto 0 5%; }
    #listings .inside .search-wrapper input[type='text'] {
      width: 100%;
      outline: none;
      display: block;
      background: transparent;
      height: 50px;
      border: none;
      border-bottom: 1px solid #ebeaea;
      font-size: 1.8rem;
      font-weight: 300; }
    #listings .inside .search-wrapper .results-wrapper {
      margin: 25px 0;
      display: flex;
      justify-content: space-between; }
      #listings .inside .search-wrapper .results-wrapper small {
        color: #d2cfd0;
        font-size: .8rem; }
      #listings .inside .search-wrapper .results-wrapper .sort-options {
        width: 190px;
        display: flex;
        justify-content: space-between; }
        #listings .inside .search-wrapper .results-wrapper .sort-options select {
          appearance: none;
          background: url(../images/chevron-down.png) no-repeat 95% center;
          background-size: 12px;
          padding: 8px;
          width: 130px;
          font-size: .7rem;
          font-weight: 700;
          color: #ADA8AA;
          outline: none;
          border-color: #ebeaea; }
        #listings .inside .search-wrapper .results-wrapper .sort-options i.fa {
          color: #dedddd;
          line-height: 31px; }
          #listings .inside .search-wrapper .results-wrapper .sort-options i.fa.fa-th {
            color: #7b7477; }
    #listings .inside .listing-wrapper {
      display: inline-block;
      width: 30.33%;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 0 1.5% 30px 1.5%;
      position: relative; }
      #listings .inside .listing-wrapper .listing-image {
        width: 100%;
        height: 140px;
        position: relative; }
        #listings .inside .listing-wrapper .listing-image img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        #listings .inside .listing-wrapper .listing-image span {
          position: absolute;
          bottom: 8px;
          left: 10px;
          color: #FFFEFF;
          font-size: .8rem;
          text-shadow: 0 0 1px #333;
          z-index: 9; }
      #listings .inside .listing-wrapper .listing-hover-detail {
        background: #5656B5;
        background: -moz-linear-gradient(bottom right, #5656B5 0%, #C46BC4 100%);
        background: -webkit-linear-gradient(left top, #5656B5 0%, #C46BC4 100%);
        background: linear-gradient(to bottom right, #5656B5 0%, #C46BC4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5656B5', endColorstr='#C46BC4',GradientType=1 );
        color: #FFFEFF;
        font-size: .8rem;
        font-weight: 300;
        height: 140px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: all .7s ease; }
        #listings .inside .listing-wrapper .listing-hover-detail:hover {
          opacity: .9; }
        #listings .inside .listing-wrapper .listing-hover-detail .user-details {
          width: 90%;
          margin: 0 auto;
          padding: 15px 0; }
          #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-pic, #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-info {
            display: inline-block; }
            #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-pic img, #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-info img {
              width: 25px;
              border-radius: 50%;
              border: 1px solid #FFFEFF;
              margin-right: 10px; }
          #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-info span.user-name {
            display: block; }
          #listings .inside .listing-wrapper .listing-hover-detail .user-details .user-info span.post-date {
            color: #d2cfd0; }
        #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info {
          max-width: 60%;
          margin: 0 auto;
          font-size: .7rem; }
          #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .top-row {
            margin-bottom: 8px; }
          #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .bottom-row a {
            color: #FFFEFF; }
          #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .top-row, #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .bottom-row {
            display: flex;
            justify-content: space-between; }
            #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .top-row i.fa, #listings .inside .listing-wrapper .listing-hover-detail .listing-hover-info .bottom-row i.fa {
              margin-right: 4px; }
      #listings .inside .listing-wrapper .listing-details {
        padding: 15px; }
        #listings .inside .listing-wrapper .listing-details span {
          display: block;
          font-size: .8rem; }
        #listings .inside .listing-wrapper .listing-details .price {
          margin-bottom: 8px;
          color: #0C002B;
          opacity: .7; }
        #listings .inside .listing-wrapper .listing-details .location {
          color: #d2cfd0; }
          #listings .inside .listing-wrapper .listing-details .location i.fa {
            margin-right: 5px; }
